<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:label="@string/app_name"
        android:icon="@mipmap/app_icon"
        android:roundIcon="@mipmap/app_icon_round"
        android:supportsRtl="true"
        android:allowBackup="true"
        android:theme="@style/Theme.Nimbus">

        <meta-data
            android:name="NEWS_API_KEY"
            android:value="${NEWS_API_KEY}" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Nimbus">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>